{
  "plugins": [
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" },
      "env", {
        "development" : {
          "compact": false
        }
      }
    ]
  ]
  
}
